
.detail {
  font-size: 1.4rem;
  display: flex;
  position: relative;
  padding: 4.5rem;
  border-bottom: var(--line);
  background: var(--grey-light-2);
  @media only screen and (max-width: 46rem) {
      padding: 3rem;
  }
  @media only screen and (max-width: 42rem) {
    flex-direction: column;
  }
  @media only screen and (max-width: 37rem) {

  }
}

.arrow-nav-right {
  position: absolute;
  align-self: center;
  right: 1rem;
  cursor: pointer;
}

.btn-review {
  margin-left: 1rem;
}


.arrow-nav-left {
  position: absolute;
  left: 1rem;
  align-self: center;
  cursor: pointer;

}

.greyButton {
  color: grey;
  opacity: 0.2;
}


.description {
  background: orangered;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  background: #fff;
  box-shadow: var(--shadow-light);
  @media only screen and (max-width: 46rem) {
      padding: 1.8rem;
      margin-right: 3.5rem;
  }
  @media only screen and (max-width: 42rem) {
    margin-right: 0;
    margin-bottom: 3.5rem;
  }
}
.reviews {
  background: yellow;
  flex: 1;
  @media only screen and (max-width: 46rem) {
      padding: 1.3rem;
      margin-bottom: 2rem;
  }
}

//PARAGRAPH
.paragraph {
  text-align: left;
}
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

//LIST
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  &__item {
      flex: 0 0 50%;
      margin-bottom: 2rem;
      text-align: left;
  }
  &__item::before {
      content: "";
      height: 1rem;
      width: 1rem;
      display: inline-block;
      margin-right: .7rem;
      // text-align: left;
      background-color: var(--color-primary);
      -webkit-mask-image: url(../../../assets/img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      //Older Browsers
      //background-image: url(../img/chevron-thin-right.svg);

  }
}
//Recommend
.recommend {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light-grey-2);
  &__friends {
      display: flex;
  }
  &__photo {
      box-sizing: content-box;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 2px solid #fff;
      &:not(:last-child) {
          margin-right: -2.3rem;
      }
  }
  &__count{
      margin: auto;
  }
}


//Reviews
.review {
  background: #fff;
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  @media only screen and (max-width: 46rem) {
      padding: 1.5rem;
  }
 // box-shadow: var(--shadow-light);
 &__photo {
     height: 4.7rem;
     width: 4.7rem;
     border-radius: 50%;
     margin-right: .5rem;
 }
 &__text {
     text-align: justify;
     margin-bottom: 2.2rem;
 }
 &__user {
      display: flex;
      align-items: center;
 }
 &__user-name {
      font-weight: bold;
      text-transform: uppercase;
  }
  &__user-rating {
      font-size: 1.7rem;
      font-weight: 300;
      color: var(--color-primary);
  }
  &__user-box {
      margin-right: auto;
  }
  &__user-date {
      font-size: 1.25rem;
  }
  &::before {
      content: "\201C";
      position: absolute;
      top: -2rem;
      left: 0rem;
      font-size: 6rem;
      color: var(--grey-dark-1);
      @media only screen and (max-width: 46rem) {
          font-size: 3.5rem;
          top: -1.6rem;
      }
  }
}


//Overview
.btn-inline {
  border: none;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 2px;
  background: transparent;
  transition: all .2s;
  @media only screen and (max-width: 46rem) {
     margin-top: -2rem;
  }

  & span {
      margin-left: 3px;
  }
  &:hover {
      outline: none;
      color: var(--grey-dark-1);
      span {
          margin-left: 8px;
      }
  }

  &:focus {
      animation: pulsate 1s infinite;
      outline: none;
  }
}
@keyframes pulsate {
  0% {
      transform: scale(1);
      box-shadow: none;
  }
  50% {
      transform: scale(1.05);
      box-shadow: 0px 2rem 4px rba(0, 0, 0, .25);
  }
  100% {
      transform: scale(1);
      box-shadow: none;
  }
}
  .greyButton {
    color: red;
  }
