<div class="container">
  <div class="heading">
    <div>
        <h3 class="heading-text">Registeration Form</h3>
    </div>
    <form class="login-form">
      <div class="form-group animation-group">
        <label class="login-form__label" for="firstname">Firstname</label>
        <input type="text" class="login-form__input" name="firstname" value="">
      </div>
      <div class="form-group animation-group">
        <label class="login-form__label">Lastname</label>
        <input type="text" class="login-form__input"  name="lastname" value="">
      </div>
      <div class="form-group animation-group">
        <label class="login-form__label">Username</label>
        <input type="text" class="login-form__input"  name="username" value="">
      </div>
      <div class="form-group animation-group">
          <label class="login-form__label">Password</label>
          <input type="password" class="login-form__input" name="password" value="">
      </div>
      <div class="form-group">
        <input type="submit" value="Register" class="login-form__btn login-form__btn-block">
      </div>
    </form>
  </div>
</div>
