.container {
  max-width: 110rem;
  margin: 8rem auto;
  min-height: 60rem;
  background: var(--grey-light-2);
  box-shadow: var(--shadow-dark);

  @media only screen and (max-width: 63rem) {
      margin: 0;
      width: 100%;
      max-width: 100%;
  }
}


.hotel-view {
  flex-grow: 1; //same as shorthand for flex=1
}

.sidebar {
  margin: 0;
  background: var(--grey-dark);
  flex: 0 0 18%;
}

.content {
  display: flex;
  text-align: center;
  justify-content: space-between;
  @media only screen and (max-width: 46rem) {
      flex-direction: column;
  }
}
.flex-container {
  display: flex;
}
